html *
{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: x-small;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}


#controlPanel {
	position: fixed;
	top: 8px;
	left: 8px;
	right: 8px;
	z-index: 100;
	background-color: white;
	padding: 0.5rem 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input_collection {
	display: grid;
	grid-template-columns: 60px 1fr;
	align-items: center;
	gap: 8px;
	margin-bottom: 2px;
}

.input_label {
	text-align: right;;
	font-weight: bold;
}

input[type="text"],
input[type="number"] {
	width: 100%;
	padding: 4px;
	box-sizing: border-box;
}

.inline_inputs {
	display: flex;
	align-items: center;
	gap: 8px;
}

.checkbox_label {
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: normal;
	white-space: nowrap;
}

#lblLoading {
	margin-top: 0.5rem;
	font-style: italic;;
}


#tableContainer {
	margin-top: 140px;
	height: calc(100vh - 140px);
	overflow-y: auto;
	isolation: isolate;
	padding: 0 8px 0 8px;
}


#tblData {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
}

#tblData thead {
	background-color: white;
	border-bottom: 1px solid #ccc;
}


#tblData thead th {
	position: sticky;
	top: 0;
	background-color: lightsteelblue;
	background-clip: padding-box;
	z-index: 2;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#tblData th,
#tblData td {
	border: 1px solid #ccc;
	padding: 4px 8px;
	text-align: left;
	white-space: nowrap;
	font-size: x-small;
}



.selected {
	background-color: brown;
	color: #fff;
}